configuration {
    modes: [run, drun];
    font: "OpenSans 15";
    location: 3;
    yoffset: 35;
    xoffset: -10;
    show-icons: true;
    icon-theme: "papirus";
}

entry {
    placeholder: "Good day, Rhyme";
}